.main-container {
  display: flex;
}

.left-section {
  width: 45vw;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section button {
  margin: 2ch;
}

.friend-attribute {
  padding: 1ch;
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1ch;
}

.right-section {
  width: 55vw;
  height: 100vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-split-bill {
  margin: 2ch;
  padding: 1ch;
}

.form-split-bill label {
  padding-right: 1ch;
}

.red p {
  color: red;
}

.green p {
  color: green;
}

.neutral p {
  color: brown;
}